
<div class = "container">
	<%= link_to "<span class='btn' ><i class='glyphicon glyphicon-chevron-left'></i></span>Back".html_safe ,repos_path(),class: "back btn btn-labeled btn-default " %></br>

	<span>
		<%= link_to "#{image_tag('GitHub-Mark-64px.png',:width => '25px')}#{@repo.github_repo_name.humanize}".html_safe,@repo.github_repo ,class: "github_link" %>
	</span>

	<!-- user wise commit graph  -->
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div class="row border well">
		<div class="col-md-4" >
			<h4>Commits</h4>
			<%@user_wise_notifications.each do |commiter_name , commits |%>
				<div class = "commits list-group" data-name = "<%=commiter_name%>"  >
					<% commits.each do |commit|%>
						<%=  link_to "#{commit["commit_message"]}",commit["commit"] , class: "list-group-item", 'data-toggle' =>"tooltip" ,'data-placement'=>"bottom" , 'title'=>"Click Here To View Commit"%>
					<%end%> 
				</div>
			<%end%>
		</div>

		<div class = "note col-md-4" >
			<div class = " list-group" >
				<%@notifications.order(commit_date: :desc).each do |notification|%>
					<div class = "list-group-item" >
						<%= notification.commiter_name %>
						</br>
						<%= link_to "#{notification.commit_message}",notification.commit ,class: "link"%>
						<div style = 'text-align: right;'>
							<%= notification.commit_date.strftime("%d %b %Y")%>
						</div>
					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>	

<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script>
	$(document).ready(function(){
		user_wise_graph("Weekly Commits By User",<%= "#{@days_from_this_week}".html_safe%>,<%="#{@series_data.to_json}".html_safe%>)
	});
</script>