<!DOCTYPE html>
<html>
<head>
	<title>GithubManagement</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class = "background">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> 
			<!-- Collect the nav links, forms, and other content for toggling -->

			<%if user_signed_in? %>
				<ul class="nav navbar-nav">
          <li><%= link_to "<i class='glyphicon glyphicon-home'style='color: aliceblue;'></i> Home".html_safe,root_path() %></li>
        </ul>

				<div class="pull-right">
          <ul class="nav pull-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Welcome <%=current_user.name%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                	<%= link_to "<i class='glyphicon glyphicon-off'></i>log out".html_safe ,destroy_user_session_path,:method => "delete"%> 
                </li>
              </ul>
            </li>
          </ul>
        </div>
			<%else%>
				<ul class="nav navbar-nav">
					<li class = "active " >
						<%= link_to " Sign In", new_user_session_path %>
					</li>
				</ul>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<%= link_to "Sign up", new_user_registration_path %>
						</li>
					</ul>
				</div>
			<%end%>
		</div><!-- /.container-fluid -->
	</nav>
	<%= yield %>
</body>
</html>
